/* margin是與外部元素的邊界距離 */
/* padding是與內部元素的邊界距離 */
@media(max-width:600px)
{
  .mainContainer{
    display:flex;
    flex-direction: column;
  }
}
.mainContainer {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: blueviolet;
  overflow: hidden;
  margin: 100px 200px 100px 200px;
}
.leftArea {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 500px;
  background-color: rgba(8, 52, 250, 0.5);
  overflow: hidden;
}
.rightArea {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  box-shadow:inset 10px 0 30px 0px rgba(25, 25, 26, 0.734);
  background-image: url("https://f2.toyhou.se/file/f2-toyhou-se/images/97979387_uJX3tHsEc75Hf1U.png?1743319101");
  background-position: top;
  min-width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.navigator {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: start;
}
.navigator a {
  border-style: solid;
  margin: 5px;
}

